/* JQM Demos custom CSS */





/* Header */

.jqm .titulo h2 img {
	
		display: block;
	
        width:60px;
        height:50px;
}
.jqm .titulo h2 > img {
	display: inline-block;
}
.jqm .titulo .ui-btn {
	width: 2em;
	height: 2em;
	background: #ffffff;
	border: 0;
	top: 50%;
	margin-top: -1em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
}


/* rodape */

.jqm .footer.ui-footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
}
.jqm .rodape {
	border-top: 1px solid #fff;
}
.jqm .rodape p {
	font-size: .8em;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 1.25em 1.25em;
}
.jqm .rodape p:first-child {
	font-size: 1em;
	color: #666;
	font-weight: 400;
	margin: 1em 1em .75em;
}



#menu-left{
    padding:0;
    position:absolute;
    border-top: 0;
    left:0;   
}


/* Menu Direito*/
#menu-right{
	padding: 0;
	position: absolute;
	border-top:0;
	
}

.ui-filter-inset {
    margin-top: 0;
}
/*fim menu direita */


.menu-list{
    border:auto;
    padding:0 0 0 0;
    list-style:none;
    text-decoration: none;
    
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    text-shadow:none !important;
    border-top:none;
}
.menu-list li{
    display: none;
    position:absolute;
    top:0;
    left:0;
}
.menu-list ul{
    padding: 0;
    border:0;
}



/*Lista de Grupo de Ofertas */

#lista li a{
	margin-left: 0;
 	padding: 0;
}

.oferta-descricao{
	padding-top: 2px;
	background-color: 
}

#lista li a img{
	margin-left:0;
	margin-bottom: 0;
	width: 90%;
	height:auto;
	padding: 0;
}


.img-ofertas{

	margin-left:0;
	margin-bottom: 0;

	padding: 0;
}
       






li.left {
			-webkit-transition: -webkit-transform 250ms ease;
			-webkit-transform: translateX(-100%);
			-moz-transition: -moz-transform 250ms ease;
			-moz-transform: translateX(-100%);
			-o-transition: -o-transform 250ms ease;
			-o-transform: translateX(-100%);
			transition: transform 250ms ease;
			transform: translateX(-100%);
		}
		/* Right transition */
		li.right {
			-webkit-transition: -webkit-transform 250ms ease;
			-webkit-transform: translateX(100%);
			-moz-transition: -moz-transform 250ms ease;
			-moz-transform: translateX(100%);
			-o-transition: -o-transform 250ms ease;
			-o-transform: translateX(100%);
			transition: transform 250ms ease;
			transform: translateX(100%);
		}







/* Detalhe da Produto */

.detalhe-empresa .detalhe-produ-oferta{
	padding: 0;
	margin-top:0;
	margin-left: 0;
}

.nome-empresa{
	text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    padding-top: 10px;
}



.detalhe-empresa img{
	display: block;
	float:left;
	position: relative;
	width:80px;
	height:60px;
	float:left;
	border-bottom: 10px;
	padding:0px 10px 0px 0px;
}


.clear{
	clear:both;
}

.detalhe-empresa{

	
	font-size :0.9em;
	font-family: 'Open Sans', sans-serif;
	width:80%;

}
.produto{

	width:100%;
	padding: 5px 5px 2px  0;
}

.detalhe-produto{
	font-family: 'Open Sans', sans-serif;
	padding:0 0 20px 0px;
}
.detalhe-produto p{
	padding: 0 0 0 0;
	border: 0 0 0 0 ;
}
.detalhe-produto .preco{
	color:red;
	font-size :25px;
	top:155px;
	right:15%;
	position: absolute;
}

.detalhe-produto .precooriginal{
	text-decoration:line-through;
	font-size:15px;
	top:140px;
	right:35%;
	position: absolute;
}

.detalhe-produto img{
	position: relative;
	float:left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 15px;
}


.lista-recomendado li a img{

	padding: 10px 0 0 10px;
}

.empresa{
	
	padding:10px 10px 10px 10px;
}
.empresa h3{
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	padding-top:0px;
}
.empresa hr{
	background-color: #EBEBEB;
}

.empresa-logo{
	width: 95%;
	height: 150px;	
	padding:10px 10px 10px 10px;
	float:left;	
}

/*Map Empresa */

#map-canvas{
	width: auto;
	height: 200px;
	padding:0;
}


/*icone facebook e twitter */

.ui-icon-face{
	background-image: url("img/thumbs-o-up.svg");
}



/*Categoria  */


.categoria h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	text-align: center;
}






